@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;515;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');*/
*{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	/*font-family: 'Montserrat',sans-serif;*/
	font-family: 'Quicksand', sans-serif;
}
a,span,p,input{
font-family: 'Roboto', sans-serif;
	/*font-family: 'Poppins',sans-serif;*/
}
.header{
	width: 100%;
	background: #fff;
	padding:16px; /*20px!important;*/
}
.header img {
    vertical-align: middle;
}
.header span{
	font-size: 20px;
	font-weight:600;
	margin-left:10px;
	vertical-align: middle;
	/*float: left;
	height: 80px;*/
}
.banner{
	width: 100%;
	/*height: 80vh!important;*/
	display: flow-root;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
.row{
	width:100%;
	 float:left;
	 margin: 0 18px;
}
.left{
	width: 50%!important;
	float: left;
}
.col-1{
width: 15%;
float: left;
}
.col-11{
	width: 85%;
	float: right!important;
}
.bannerr .left{
	/*background: grey;*/  
	margin: 22px;
	padding: 32px !important;
}
.banner .left h1{
	font-size: 42px;
	margin-bottom: 16px;
}
.banner .left p{
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 20px; 
	color: #4c527d;
}
.banner button
{
	padding: 15px 30px;
	border-radius: 26px;
	outline: none;
	/*border:none;*/
	border:1px solid #ed6524;
	margin-right: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 600;


}
.banner .left-button{
background: #ed6524;
font-size: 18px;
color: white;
}
.banner .right-button{
	background: #fff;
	font-size: 18px;
	color: #ed6524;
}
.banner .right-button:hover{
	background:#ed6524;
	color: white; 
		}
.testimonial{
	width: 100%;
	/*margin: 30px 0;*/
}
.message{
	height: 140px;
	width: 100%;
	background: #f6f4fc;
	border-left: 4px solid #f5a782;
	position: relative;
}
.message blockquote{
	font-size: 20px !important;
	line-height: 20px!important;
	padding: 40px !important;
	font-style: italic;
	color:#4c527d;
}
.corner-box{
	height: 40px;
	width: 40px;
	background: #f6f4fc;
	position: absolute;
	bottom: -15px;
	left: 5%;
	transform: rotate(45deg);
}
.user{
    width: 70px;
    height: 70px;	
    margin-top: 22px;
}

.user img{ 

width: 70px;
}

.user-info{

margin: 11px 80px;

}

.user-info p{
margin: 14px 10px !important;
padding: :0 !important;
font-weight: : 400 !important;
line-height: 14px!important;
font-size: 14px !important;
margin-left: -2px!important;
}

.banner-right{
	margin-left: 80px: 

}

.see-all{

	 width: 95%;
	 text-align: center;
      
}

.see-all a:hover{
	color: #ed6524;
}

.right{
	width: 50%;
	float:right;
}

.right-img{
	position:relative;
}

.banner .circle{

height: 160px;
width: 160px;
border-radius: 50%;
background: green;
text-align: center;
line-height: 160px;
color: white;
font-size: 18px;
position: absolute;
right: 30px;
top: -50px;
}
.service{
	width: 100%;
	display: flow-root;
	background-image: linear-background(to bottom,#f6f4fc 0%,#fff 70%);


}
.service-body{
	width: 100%;
	float: left;
	padding: 80px 0!important;
}
.bol{
	width: 30%;
	float: left;
	/*padding: 0 15px;*/
}
.service-title {
	margin: 30px 0;
	text-align: center;
}
.service-title h2{
	font-size: 42px;
	margin: 10px 0;

}
.service-title p{
font-size: 20px;
line-height: 30px;
color:#4c527d; 
}
.item{
	text-align: center;
	padding: 20px;
}
.item h3{
	margin:15px 0;

}
.item p{
	color: #4c527d;
	line-height: 24px;
}

/*new*/

.item-section{
width: 100%;
display: flow-root;
padding: 100px 0;
}
.item-title{
text-align: center;

}
.item-title h4{
font-size: 42px;
}
.item-body{
	width: 100%;
	float: left;
	margin: 50px 0;
}
.col-5{
	width: 50%;
	float: left;

}
.item-img{
padding: 10px;	
}
.item-text{
	padding: 50px;
}
.item-text ul li{
list-style: none;
color: #4c527d;
margin-bottom: 16px;
margin-left: 10px;
font-size: 20px;
}
.item-text ul li i{
	color: #7FCDB8;
	margin-right: 8px;
	
}

.item-text button{
background: #ed6524;
font-size: 18px;
color: white;

	padding: 15px 30px;
	border-radius: 26px;
	outline: none;
	/*border:none;*/
	border:1px solid #ed6524;
	margin-right: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 600;
	cursor: pointer;
}
/*Who*/
.book-section{
	    width: 100%;
    padding: 10px 0px;
    display: flow-root;
}
/*.container {
    width: 1140px;
    margin: 0 auto;
}*/
 .book-title{
    text-align: center;
 }
.book-title h5{
    font-size: 42px;
    margin: 10px 0px;
}
.book-title p {
    font-size: 25px;
    line-height: 35px;
    color: #4c527d;
}
.book-text ul li {
    list-style: none;
    width: 100%;
    float: left;
    margin: 0 250px;
        margin-bottom: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 25px;
    padding-top: 20px;
}

.book-text ul li i {
    color: #7fcdb8;
    /*margin-right: 20px;*/
}
.book-text ul li p {
    font-size: 20px;
    margin: 0 50px;
    margin-top: 10px;
    line-height: 24px;
    font-weight: 400;
    color: #4c527d;
}


/*subscribe*/
.subscribe{
	width: 100%;
	display: flow-root;
	padding: 100px 0;
}
/*.subscribe-box{
background color:#4c527d;
width:50%;
margin: 0 auto;
padding:70px 80px;
text-align: center;
}*/
.subscribe-box {
    background-color: #f6f4fc;
    padding: 25px;
    text-align: center;
    width: 50%;
    margin: 0px auto;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
.subscribe-box h1 {
    font-size: 32px;
}
.subscribe-box p{
	color: #4c527d;
	margin: 20px;
	line-height: 22px;
	 font-size: 20px;
}
.email-input {
    padding: 18px 15px;
    width: 280px;
    border-radius: 5px;
    border: none;
      font-weight: 600;
}
.send-button {
    padding: 15px 20px;
    font-weight: 600;
    background-color: #ed6524;
    color: white;
    border: 1px solid #ed6524;
    border-radius: 5px;
}

/*Review*/
.review {
    width: 100%;
    display: flow-root;
}
.review-title {
    margin: 50px 0px;
    text-align: center;
}
.review-title h1 {
    font-size: 42px;
}
.review-title p {
    color: #4c527d;
    font-size: 20px;
}
.reviews-1 {
    width: 100%;
    float: left;
}
.mol{
	width: 100%;
    float: left;
    margin-left: 50px;
}
.lol {
    width: 33.33%;
    float: left;
}
/*.space {
    margin: -18px 200px;
}*/
.review-box {
    padding: 15px;
    background-color: #f6f4fc;
    position: relative;
    margin: 50px 13px;
}
.testimonial-icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: tomato;
    position: absolute;
    left: 42%;
    top: -9%;
    text-align: center;
    line-height: 35px;
    color: white;
}
.review-text {
    margin: 15px;
}
.review-text p {
    color: #4c527d;
}
.user1 {
    width: 100%;
    height: 70px;
    margin-top: 17px;
}
.ram {
    width: 100%;
    float: left;
    margin: 0 18px;
}
.pam {
    width: 20%;
    float: left;
}
.user1 img {
    width: 70px;
}
.pam2 {
    width: 80%;
    float: right;
}
.pam2 p {
    color: #4c527d;
}
.user-inf p {
    margin: 15px;
    line-height: 6px;
}


.middle {
    padding: 10px 8px;
    margin: 0 500px;
    color: white;
    border: 1px solid #ed6524;
    border-radius: 25px;
    background-color: #ed6524;
height: 50px;
    width: 250px;
    font-size: 18px;
    margin-bottom: 50px;
}




.user-section {
    padding: 100px 0;
    background: #ed6524;
    text-align: center;
}
.user-profile img {
    width: 15%;
    margin-bottom: 30px;
    margin-top: -50px;
}
.user-section h1 {
    font-size: 30px;
    color: white;
}
.user-section p {
    margin-top: 12px;
    line-height: 28px;
    color: white;
    text-align: center;
     font-size: 18px;
}
.user-section p a {
    color: white;
}
.author h1 {
    margin-top: 30px;
    font-size: 24px;
}
.social{
	 text-align: center;
	 margin-top: 20px;
}
.social ul li {
    list-style: none;
    display: inline-block;
    margin-top: 25px;
}
.social{
	 text-align: center;
	 margin-top: 20px;
}
.social ul li a i {
    font-size: 22px;
    height: 50px;
    width: 50px;
    background: #BE4707;
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    color: white;
    margin: 0 5px;
}




.design h1{
	margin: 50px;
	text-align: center;
	font-size: 15px;
	color: #4c527d;
}
.design i{
color: red;
}
.design a{
color: black;
}




